html,
body {
  background-color: white;
}

button a:visited,
button a:hover,
a:hover,
button a {
  color: white;
  text-decoration: none;
}

button.button-ieee {
  background-color: #00629B;
  transition: .2s ease-out;
}

button.button-ieee:hover {
  background-color: #0091e6;
}

